<header>
    <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page"><img src="assets/logo.svg" alt="Logo"></a>

    <form>
        <input type="text" placeholder="Pesquise o nome do contato...">

        <button type="submit"><i class="bi bi-search" title="Pesquisar"></i></button>
    </form>

    <nav>
        <ul>
            <li><a href="#">Contato</a></li>
            <li><a href="#">Sobre nós</a></li>
            <li><a href="#">Github</a></li>
        </ul>
    </nav>
</header>
