main {
    width: 100%;
    height: calc(100vh - 80px);
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.form-view-contato {
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-view-contato h1 {
    font-size: 2vw;
    margin-bottom: 25px;
    text-align: center;
}

.form-view-contato div:not(.div-btns) {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form-view-contato div label {
    font-size: 1.15vw;
    cursor: text;
}

.form-view-contato div input, .form-view-contato div textarea {
    outline: none;
    height: 25px;
    width: 19.5vw;
    font-size: 1vw;
    cursor: text;
    border-radius: 5px;
    border: 1px solid rgb(139, 139, 139);
    padding: 5px;
}

.form-view-contato div textarea {
    resize: none;
    height: 100px;
}

.div-btns {
    /* background-color: green; */
    display: inline-flex;
    justify-content: space-between;
}

.btn {
    outline: none;
    background-color: transparent;
    padding: 5px 10px;
    font-size: 1vw;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.editar {
    border: 2px solid rgb(0, 190, 0);
    color: rgb(0, 155, 0);
    transition: color 0.3s, background-color 0.3s;
}

.editar:hover {
    background-color: rgb(0, 155, 0);
    border: 2px solid rgb(0, 190, 0);
    color: white;
}

.deletar {
    border: 2px solid rgb(190, 0, 0);
    color: rgb(155, 0, 0);
    transition: color 0.3s, background-color 0.3s;
}

.deletar:hover {
    background-color: rgb(155, 0, 0);
    border: 2px solid rgb(190, 0, 0);
    color: white;
}